@import './styles/vars.module.scss';
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1111111;
  width: 100%;
  flex-direction: column;
  padding: $space-row-xs $space-row-m;
  height: auto;
  transition: all 0, 3s;
  backdrop-filter: blur(5px);
  .backgroundBlur {
    opacity: 0;
    transition: opacity 0.1s ease-out;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: radial-gradient(
        153.45% 10046.21% at 43.75% 67.5%,
        rgba(71, 57, 142, 0.6) 53.07%,
        rgba(71, 57, 142, 0.4) 89.16%
      ),
      linear-gradient(
        90.8deg,
        rgba(71, 57, 142, 0.8) 2%,
        rgba(71, 57, 142, 0.7) 100%
      );
    border: 1px solid rgba(71, 57, 142, 0.3);
    z-index: -1;
  }
  .content {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    justify-content: $space-column;

    display: flex;
    .logo {
      display: flex;
      column-gap: $space-column-xs;
      align-items: center;
      h3 {
        color: $monocromatic-white;
        cursor: pointer;
      }
      svg {
        width: 44px;
        height: 38px;
      }
    }
    .actions {
      display: flex;
      column-gap: $space-row-s;
      align-items: center;
    }
  }
  .menuMobile {
    width: 100%;
    display: flex;
    transition: all 0.2s;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    .menu {
      display: none;
      transition: all 0.2s 0s;
      opacity: 0;
      flex-direction: column-reverse;
      row-gap: $space-row-s;
      //  visibility: hidden;
    }
  }
  .active {
    display: flex;
    height: 180px;
    margin-top: $space-row-s;
    //  height: min-content;
    .menu {
      display: flex;
      transition-delay: 0.1s;
      opacity: 1;
      //  visibility: visible;
      .auth {
        justify-content: center;
      }
      .item {
        width: 100%;
        border-bottom: 1px solid white;
        display: flex;
      }
    }
  }
}
.auth {
  display: flex;
  column-gap: $space-row-s;
}
.blur {
  .backgroundBlur {
    opacity: 1;
  }

  //  border: 1px solid rgba(71, 57, 142, 0.3);

  backdrop-filter: blur(20px);
  .logo {
    h3 {
      color: $monocromatic-white;
    }
  }
}
.solid {
  background-color: $monocromatic-white;
  border: 1px solid rgba(153, 153, 153, 0.3);
  backdrop-filter: blur(20px);
  position: absolute;
  .content {
    .logo {
      h3 {
        color: $gentem-purple;
      }
    }
  }
}
@media (min-width: 320px) {
  .header {
    padding: $padding-xs;
  }
}
@media (min-width: 800px) {
  .header {
    padding: $padding-xs $padding-m;
  }
}
@keyframes mobile {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}
@keyframes blur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
