@import '../../../../../styles/variables.scss';
$centrado: center;

.footer {
  width: 100%;
  height: 260px;
  font-size: 14px;
  display: grid;
  grid-template: auto 30px / 100%;
  justify-content: center;
  align-items: center;
  background-color: $bgfooter;
  place-items: center;
}
.content{
  display: grid;
  grid-row-gap: 24px;
}
.footerContact {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.mail-color {
  color: $blue;
  font-weight: 600;
  & a {
    color: $blue;

    &:hover {
      color: $dark-blue;
    }
  }
}
.socialMedia {
  display: flex;
  justify-content: $centrado;
}
.socialMedia > div {
  padding-right: 10px;
}
.socialMediaIcon > svg {
  font-size: 25px;
  color: $blue;
}
.language {
  display: flex;
  justify-content: $centrado;
  align-items: center;
}
.activate {
  color: $blue;
  font-weight: 600;
}
.circle {
  border: 1px solid #353535;
  margin-left: 10px;
  margin-right: 10px;
}
.additionals{
padding-top: 0px;
width: 900px;
place-items: center;
margin-bottom: 30px;
display: grid;
grid-auto-flow: column;
grid-auto-columns: auto;
a > span{
  color: #8F8F8F;
  font-weight: bold;
}
//grid-column-gap: 44px;
}
// Super XS
@media (min-width: 320px) {
  .footer {
    height: 350px;
  }
}
// XS
@media (min-width: 424px) {
  .footer {
    height: 260px;
  }
}
