@import '../lib/variables.scss';
@import '../layout/layout.scss';

.fakeSpace {
  margin-top: 64px;
}
.home {
  padding: 0 $layout-xs;
  height: auto;
}
.contenedor {
  width: 100%;
  height: auto;
  position: relative;
  .fl1 {
    width: 100%;
    height: 100%;
  }
  .fl-2 {
    width: 100%;
    height: 50%;
  }
}

.btnHome {
  width: 262px;
  background: #f44b53;
  height: 48px;
  border-radius: 2px;
  box-shadow: 0px 8px 8px rgba(244, 75, 83, 0.12);
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    box-shadow: 0px 0px 20px rgba(25, 25, 25, 0.1);
  }
  span {
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    transition: all 0.2s ease-out;
    align-items: center;
    text-align: center;
  }
}
.btnContribuir {
  height: 48px;
  border-radius: 2px;
  box-shadow: 0px 4px 8px rgba(25, 25, 25, 0.1);
  width: 256px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  span {
    font-weight: 400;
    z-index: 11;

    font-size: 24px;
    line-height: 1.3;
    color: #fff;
  }
  svg {
    align-items: center;
    fill: #fff;
    transform: translate(4px, 4px);
    justify-content: center;
  }
}
.btnColab {
  height: 48px;
  border-radius: 2px;
  box-shadow: 0px 4px 8px rgba(25, 25, 25, 0.1);
  width: 300px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    box-shadow: none;
  }
  span {
    z-index: 11;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
  }
}
.containerBanner {
  width: 100%;
  height: 505px;

  display: flex;
  position: relative;
  .imgBannerI {
    height: 100%;
    width: 100%;
    background: url(../../public/banner.jpg);
    background-position: center;
  }
  .imgBanner {
    height: 100%;
    width: 100%;
    background: violet;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .contentBanner {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      padding-top: 180px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .text {
        width: auto;
        //padding: 0 320px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        span {
          color: #fff;
          line-height: 1.2;
          font-size: 28px;
          font-weight: 400;
        }
      }
      .btnBanner {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 55px 0;
      }
    }
  }
}
.btnFl {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.texto {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
  span {
    font-size: 24px;
    line-height: 30px;
  }
}
.desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.colm2 {
  width: (100%/2);
  display: flex;
  flex-direction: row;
}
.colm3 {
  width: (100%/3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.colm4 {
  width: (100%/4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fuente {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  /*   width: 100%; */
}
.containerStats {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  .texto {
    padding: 0 96px;
    h2 {
      color: #1a1928;
    }
  }
  .desc {
    padding: 84px 0;
  }
  .fuente {
    padding: 48px;
    text-align: center;
    span {
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 29px;
    }
  }
  .resStats {
    display: flex;

    flex-direction: column;
    .result {
      width: 100%;
      justify-content: space-around;
      display: flex;
      flex-direction: row;
      .colm3 {
        &:nth-child(1) {
          justify-content: flex-start;
        }
        &:nth-child(3) {
          justify-content: flex-end;
        }
      }
      .resCov {
        .valor {
          span {
            font-weight: 200;
            font-size: 55px;
            line-height: 55px;
            flex: none;
            order: 0;
            align-self: center;
            margin: 0px 6px;
            letter-spacing: -0.045em;
          }
        }
        .resultInfo {
          padding-top: 6px;
          text-align: center;
          span {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
}
.containerColabor {
  width: 100%;
  height: 100%;
  padding: 204px 0 180px;
  .colaborar {
    width: 600px;
    margin: 0 auto;
  }
  .texto {
    text-align: center;
  }
  .btnFl {
    padding-top: 24px;
  }
}

.containerInfoHome {
  margin-top: 120px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(3, 575px) / auto;
  grid-row-gap: 120px;
  .target {
    display: grid;
    grid-template: 100% / repeat(2, 50%);
    .info {
      width: 392px;
      justify-self: center;
      align-self: center;
      .texto {
        align-items: flex-start;
      }
      .linea {
        width: 83px;
        margin: 24px 0;
        border-radius: 8px;
        height: 5px;
        background: grey;
      }
    }
    .containerImgInfo{
      justify-self: center;
      align-self: center;
      width: 100%;
      height:100%;
      .formaIm{
        width: 100%;
        height:100%;
        img{
          width: 100%;
          height:100%;
        }
      }
    }
    &:nth-child(2){
      .info{
        grid-column: 1;
        grid-row: 1;
      }
      .containerImgInfo{
        grid-column: 2 ;
      }
    }
  }
}
.containerAbout {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 180px;
  flex-direction: column;
  .texto {
    padding: 60px 0;
  }
  .content {
    display: flex;
    flex-direction: row;

    .about {
      flex-direction: column;
      width: 376px;
      .containerImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img {
          justify-content: center;
          align-items: center;
          display: flex;
          height: 144px;
          width: 144px;
        }
      }
      .tit {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-weight: bold;
          font-size: 16px;
          line-height: 147.5%;
          color: #000;
          margin: 20px 0;
        }
        p {
          font-size: 16px;
        }
      }
      .desc {
        text-align: center;
        p {
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 22px;

          letter-spacing: 0.01em;
        }
      }
    }
  }
  .btnFl {
    padding: 60px 0;
  }
}
.containerOngs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .desc {
    padding: 24px 0;
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  .containerFichas {
    justify-content: center;
    display: grid;
    //height: 180px;
    margin: 80px 0 100px;
    grid-template-columns: repeat(8, minmax(80px, 120px));
    grid-template-rows: minmax(80px, 120px);
    grid-gap: 16px;
    .ficha {
      height: 100%;
      border-radius: 10px;
      width: 100%;
      transition: all 0.1s ease-out;
      justify-self: center;
      align-self: center;
      .img {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &:hover {
        box-shadow: 0px 0px 5px 0px rgba(37, 37, 37, 0.1);
      }
    }
    .content {
      flex-direction: row;
      display: flex;
      align-items: center;

      .i4 {
        display: flex;
        width: 50%;
      }
    }
  }
}
.containerContribuir {
  width: 100%;
  height: 400px;
  background: #ffcf53 url('../../public/manos.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;

  .img {
    height: 400px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    //background: url('../assets/img/manos.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    img {
      width: 725px;
    }
  }
  .content {
    padding-top: 84px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    z-index: 1;
    .texto {
      span {
        font-weight: 600;
        font-size: 28px;
        color: #000;
        text-align: center;
      }
      p {
        padding: 24px 0 48px;
      }
    }
  }
}

/*326*/
@media screen and (min-width: 320px) {
  .home {
    padding: 0 $layout-xs;
  }
  .containerBanner .contentBanner .content {
    padding-top: 140px;
  }
  .containerBanner .contentBanner .content .text {
    padding: 0 24px;
    span {
      font-size: 28px;

      font-style: normal;
      font-weight: 400;

      line-height: 1.2;
      color: #fff;
    }
  }
  .containerBanner .contentBanner .content .btnBanner {
    padding: 45px 0;
  }
  .containerColabor {
    padding: 120px 0px;
  }
  .containerColabor .colaborar {
    width: 100%;
  }
  .containerStats {
    width: 100%;
    .texto {
      padding: 0;
      text-align: center;
    }
    .desc {
      padding: 36px 0;
      text-align: center;
    }
    .resStats {
      .result {
        flex-direction: column;
        .colm3 {
          width: 100%;
          padding: 36px 0;
          &:nth-child(1) {
            justify-content: center;
          }
          &:nth-child(3) {
            justify-content: center;
          }
        }
      }
    }
  }
  .containerInfoHome {
    grid-template: repeat(6, auto) / 100%;
    grid-row-gap: 60px;
    .target{
      grid-template: repeat(2, 50%) / 100%;
      grid-row-gap: 40px;
      .info{
        width: 100%;
        
        .texto{
          align-items: center;
          text-align: center;
        }
        .linea{
          margin: 24px auto;
        }
        .desc{
          text-align: center;
        }
      }
      .containerImgInfo{
        width: 376px;
        height: 370px;
      }

      &:nth-child(2){
        .info{
          grid-column: 1;
          grid-row: 1;
        }
        .containerImgInfo{
          grid-column: 1;
          grid-row: 2;
          width: 376px;
          height: 312px;
        }
      }
      &:nth-child(odd){
        .info{
          grid-column: 1;
          grid-row: 1;
        }
        .containerImgInfo{
          grid-column: 1;
          grid-row: 2;
        }
      }
    }
  }
     
  

  .colm2 {
    width: 100%;
    justify-content: center;
  }
  .containerAbout {
    width: 100%;
    padding: 0;
    .texto {
      padding-bottom: 0;
    }
    .content {
      flex-direction: column;

      .colm3 {
        width: 100%;
        padding-top: 68px;
      }
    }
    .btnFl {
      padding-bottom: 130px;
    }
  }
  .containerAbout .content .about {
    width: 100%;
  
  }
  .containerAbout{
    .texto{
      text-align: center;
    }
  }
  .containerOngs {
    .texto{
      text-align: center;
    }
    .desc {
      width: 100%;
    }
    .containerFichas {
      grid-template-columns: repeat(4, 80px);
      grid-template-rows: repeat(2, 80px);
    }
  }

  .colm-4 {
    width: 68px;
    height: 68px;
  }
  .btnColab{
    width: 256px;
  }
  .containerContribuir {
    height: 426px;
    background-size: cover;
    .img {
      height: 426px;
    }
    .content {
      padding: 44px $layout-xs 0;
      .texto{
        text-align: center;
      }
    }
  }
}

/*424*/
@media screen and(min-width: 424px) {
  .home {
    padding: 0 $layout-xs;
  }
  .containerBanner .contentBanner .content .text {
    padding: 0 24px;
  }
  .containerBanner .contentBanner .content .btnBanner {
    padding: 45px 0;
  }
  .containerColabor {
    padding: 120px 0px;
  }
  .containerColabor .colaborar {
    width: 100%;
  }
  .containerStats {
    width: 100%;
    .texto {
      padding: 0;
    }
    .desc {
      padding: 36px 0;
      text-align: center;
    }
    .resStats {
      .result {
        flex-direction: column;
        .colm3 {
          width: 100%;
          padding: 36px 0;
          &:nth-child(1) {
            justify-content: center;
          }
          &:nth-child(3) {
            justify-content: center;
          }
        }
      }
    }
  }

  .colm2 {
    width: 100%;
    justify-content: center;
  }
  .containerAbout {
    width: 100%;
    padding: 0;
    .texto {
      padding-bottom: 0;
      
    }
    .content {
      flex-direction: column;

      .colm3 {
        width: 100%;
        padding-top: 68px;
      }
    }
    .btnFl {
      padding-bottom: 132px;
    }
  }
  .containerAbout .content .about {
    width: 100%;
  }
  .containerOngs {
    .desc {
      width: 100%;
    }
  }

  .colm-4 {
    width: 80px;
    height: 80px;
  }

  .containerContribuir {
    height: 426px;
    background-size: cover;
    .content {
      padding: 84px $layout-xs;
    }
  }
  .containerContribuir .img {
    height: 426px;
  }
}

/*796*/

@media screen and(min-width: 796px) {
  .home {
    padding: 0 $layout-xs-p;
  }
  .containerBanner {
    .contentBanner {
      .content {
        .text {
          padding: 0 98px;
        }
      }
    }
  }
  .containerColabor {
    .texto {
      padding: 0 (98px-$layout-xs-p);
    }
  }
  .containerStats {
    .desc {
      padding: 36px 0 0;
    }
  }

 
  .containerAbout {
    .content {
      .about {
        .desc {
          padding: 0;
        }
      }
    }
  }
  .containerOngs {
  }
  .containerContribuir {
    .content {
      padding: 84px (98px-$layout-s-p);
    }
  }
}

/*800*/

@media (min-width: 800px) {
  .home {
    padding: 0 $layout-s;
  }
  .containerBanner .contentBanner .content .text {
    padding: 0 100px;
  }
  .containerBanner .contentBanner .content .btnBanner {
    padding: 45px 0;
  }
  .containerColabor {
    //padding: 120px (100px-$layout-s);
    .colaborar {
      .texto {
        padding: 0;
      }
    }
  }
  .containerColabor .colaborar {
    width: 100%;
  }
  .containerStats {
    width: 100%;
    .texto {
      padding: 0;
    }
    .desc {
      padding: 36px 0;
      text-align: center;
    }
    .resStats {
      .result {
        flex-direction: column;
        .colm3 {
          width: 100%;
          padding: 36px 0;
          &:nth-child(1) {
            justify-content: center;
          }
          &:nth-child(3) {
            justify-content: center;
          }
        }
      }
    }
  }
  .containerInfoHome {
    grid-template: repeat(3, 344px) / 100%;
    grid-row-gap: 90px;
    .target{
      grid-template: 100% / repeat(2, 50%);
      .info{
        width: 360px;
        .texto{
          align-items: start;
          text-align: left;
        }
        .linea{
          margin: 24px 0;
        }
        .desc{
          text-align: left;
        }
      }
      &:nth-child(2){
        .info{
          grid-row: 1;
          grid-column: 1;
        }
        .containerImgInfo{
          grid-row: 1;
          grid-column: 2;
        }
      }
      &:nth-child(odd){
        .info{
          grid-row: 1;
          grid-column: 2;
        }
        .containerImgInfo{
          grid-row: 1;
          grid-column: 1;
        }
      }
    }

  }

  .colm2 {
    width: 50%;
  }
  .containerAbout {
    width: 100%;
    padding: 0;
    .texto {
      padding-bottom: 0;
    }
    .content {
      flex-direction: column;

      .colm3 {
        width: 100%;
        padding-top: 68px;
      }
    }
    .btnFl {
      padding-bottom: 132px;
    }
  }
  .containerAbout .content .about {
    width: 100%;
  }
  .containerOngs {
    .desc {
      width: 100%;
    }
    .containerFichas {
      grid-template-columns: repeat(8, minmax(78px, 80px));
      grid-template-rows: minmax(78px, 80px);
    }
  }

 
  .containerContribuir {
    height: 426px;
    background-size: contain;
  }
  .containerContribuir .img {
    height: 426px;
  }
}

/*796*/

/*1016*/

@media (min-width: 1016px) {
  .home {
    padding: 0 $layout-s-p;
  }
  .containerStats .desc {
    width: 600px;
    margin: 0 auto;
  }
  .containerInfoHome {
    grid-template: repeat(3, 448px) / 100%;
    grid-row-gap: 110px;
    .target{
      .info{
        width: 300px;
      }
      .containerImgInfo{
        width: 459px;
        height: 439px;
      }
      &:nth-child(2){
        .containerImgInfo{
          width: 457px;
          height: 379px;
        }
      }
    }
  }

  .containerOngs {
    .desc {
      width: 100%;
    }
    .containerFichas {
      grid-template-columns: repeat(8, 105px);
      grid-template-rows: 105px;
    }
  }
}

/* 1028 */

@media screen and (min-width: 1028px) {
  .home {
    padding: 0 $layout-m;
  }

  .containerBanner {
    .contentBanner {
      .content {
        .text {
          padding: 0 114px;
        }
      }
    }
  }
  .containerColabor {
    // padding: 204px 196px;
  }

  .containerStats {
    .resStats {
      .result {
        flex-direction: row;
      }
    }
  }

 
  .containerAbout {
    .content {
      flex-direction: row;
      .colm3 {
        width: (100%/3);
        .about {
          .desc {
            padding: 0 20px;
            height: 88px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1224px) {
  .home {
    padding: 0 $layout-xl;
  }
  .containerBanner {
    .contentBanner {
      .content {
        .text {
          padding: 0 280px;
        }
      }
    }
  }
  .containerOngs {
    .desc {
      width: 100%;
    }
    .containerFichas {
      grid-template-columns: repeat(8, 120px);
      grid-template-rows: 120px;
    }
  }
}
