# Node dependencies
node_modules/
# Log files
*.log

# Distribution folders
dist/

# Build folders
build/

# MacOS folder metadata
.DS_Store

# Next output
out/
.next
_next

# Environment configuration file
.env
.env.local
.env.development
.env.production
.env.staging
# Backup files
*.bak


# IDE
.vscode
