@import '../../styles/lib/variables.scss';
@import '../../styles/layout/layout.scss';
.faq {
}

.containerBanner {
  box-sizing: border-box;
  width: 100%;
  height: 505px;
  background: url(/banner.jpg);
  background-position: center;
  display: grid;
  position: relative;
  place-items: center;
  button {
    margin: 0;
  }
  .content {
    max-width: 800px;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .text {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;
      span {
        display: flex;
        color: #fff;
        width: 100%;
        line-height: 1.2;
        font-size: 28px;
        font-weight: 400;
      }
    }

    .btnBanner {
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 25px 0;
    }
  }
}
.faqContainer {
  margin: 60px 0;
}
.faqCollapse {
  background: #fff;
  & > a {
    box-shadow: 0px 8px 8px rgba(35, 126, 213, 0.15);
    border-radius: 2px 2px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    height: 48px;
    padding: 0 1.8rem;
    color: #fff;
    position: relative;
    background: $blue;
    & svg {
      width: 15px;
      height: 15px;
      fill: #fff;
    }
  }
  &:target {
    & a > svg {
      transition: 0.4s linear 0s;
      transform: rotate(-90deg);
    }
    & > div {
      max-height: 20em;
    }
  }
}

.collapseContent {
  box-shadow: 0px 0px 3px rgba(37, 37, 37, 0.25);
  border-radius: 0px 0px 2px 2px;
  max-height: 0em;
  transition: 0.4s linear 0s;
  overflow: hidden;
}

.collapseInnerContent {
  padding: 1.8rem;
}

.faqCollapse + .faqCollapse a {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}

@media (min-width: 320px) {
  .containerBanner {
    .content {
      .text {
        span {
          font-size: 28px;

          font-style: normal;
          font-weight: 400;

          line-height: 1.2;
          color: #fff;
        }
      }
    }
  }
}
