@import '../../../styles/variables.scss';

$image-s: 104px;
$image-m: 132px;

@mixin imageSize($imageSize) {
  min-width: $imageSize;
  max-width: $imageSize;
  background-size: $imageSize;
  width: $imageSize;
  height: $imageSize;
}

// FilterContainer

.filterContainer {
  display: grid;
  grid-template-rows: repeat(4, minmax(1px, max-content));
  row-gap: 48px;
  height: fit-content;
}

@media (min-width: 800px) {
  .filterContainer {
    min-width: 266px;
    max-width: 310px;
  }
}

@media (min-width: 1028px) {
  .filterContainer {
    min-width: 304px;
    max-width: 368px;
  }
}
@media (min-width: 122px) {
  .filterContainer {
    min-width: 368px;
    max-width: 392px;
  }
}

// Organization Cards
.layout {
  background-color: #ffffff;
  width: auto;
  height: auto;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.2));
  border-radius: 6px;
  display: grid;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  row-gap: 12px;
  padding: 12px 8px;
  &:hover {
    transition: ease-in 300ms;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
  }
}
.infoContainer {
  display: grid;
  grid-template-columns: fit-content($image-s) 1fr;
  column-gap: 8px;
  align-items: center;
}
.image {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 8px;
  @include imageSize($image-s);
}
.textContainer {
  display: grid;
  align-items: center;
}
.name {
  /*   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  span {
    font-weight: bold;
    font-size: 18px;
    color: #1a1928;
  }
}
.location {
  font-weight: 600;
  font-size: 14px;
  color: #8c8b93;
}
.causeAndDonations {
  overflow: hidden;
}
.donation {
  margin-top: 12px;
}
.filterTitle {
  color: #8c8b93;
  font-size: 14px;
}
.spanContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
}
.filterSpan {
  max-width: max-content;
  min-width: fit-content;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  margin-right: 8px;
  span {
    color: #8c8b93;
    padding: 6px 8px;
    font-size: 14px;
  }
}
.link {
  display: flex;
  margin-top: 12px;
  justify-content: flex-end;
  align-items: center;
  & svg {
    width: 12px;
    height: 10px;
    fill: #237ed5;
  }
  & span {
    padding-right: 8px;
    color: #237ed5;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      transition: 300ms ease-in;
      color: #0184ff;
    }
  }
}

// XS

@media (min-width: 320px) {
  .optionSelected {
    display: flex;
  }
  // Sider
  .filterContainer {
    display: none;
  }
  .layout {
    padding: 24px 16px;
  }
  .infoContainer {
    grid-template-columns: fit-content($image-m) 1fr;
    column-gap: 16px;
  }
  .image {
    @include imageSize($image-m);
  }
}

@media (min-width: 800px) {
  .optionSelected {
    display: none;
  }
  // Sider
  .filterContainer {
    display: grid;
  }
}

@media (min-width: 1028px) {
  .infoContainer {
    grid-template-columns: fit-content($image-s) 1fr;
    column-gap: 8px;
  }
  .image {
    @include imageSize($image-s);
  }
}

@media (min-width: 1224px) {
  .infoContainer {
    grid-template-columns: fit-content($image-m) 1fr;
    column-gap: 16px;
  }
  .image {
    @include imageSize($image-m);
  }
}

// old css

$resultItemIMG-xl: 156px;
$resultItemIMG-xs: 146px;
// Global

.ongList {
  background-color: $bgwhite;
  display: flex;
  flex-direction: column;
}

.ongListContent {
  margin-top: 48px;
  height: auto;
  background: none;
  display: flex;
}

// banner
.descBanner{
  color: white;

}
// Contenido
.ongListSearch {
  width: 392px;
  max-width: 392px;
}

.ongListSearchContainer {
  & > div {
    margin-bottom: 48px;
  }
}
.textCheck {
  margin-top: 24px;
}
.textCheckTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textCheckBottom {
  font-size: 14px;
  max-width: 310px;
}

// Sider

.ongListResult {
  margin-left: 48px;
  flex: auto;
  max-width: 784px;
  min-width: 0;
  width: auto;
}

.ongListResultQuantity {
  display: grid;
  row-gap: 12px;
  justify-content: center;
  text-align: center;
  margin-bottom: 24px;
}

.quantityBtn {
  padding: 10px 113px;
  letter-spacing: 0.04em;
  margin: 0 auto;
  font-size: 14px;
  color: $black;
  border: 1px solid $black;
  border-radius: 2px;
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    color: white;
    border: 1px solid white;
    background: $black;
  }
}

.OngList__Result--filter {
  margin-top: 24px;
  margin-bottom: 32px;
}

// Result Item

.resultItem {
  max-width: 784px;
  width: 100%;
  height: 156px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #ffffff;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: $resultItemIMG-xl auto;
  margin-bottom: 24px;
  &:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transition: 700ms;
  }
}
.resultItemImg {
  grid-row: 1;
  align-self: center;
  grid-column: 1;
  background-repeat: no-repeat;
  background-position: center;
}

.resultItemDetails {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 28px) 40px 28px;
  margin: auto 16px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.additionals {
  display: grid;
  grid-row: 4;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: minmax(110px, 150px);
  grid-template-rows: 100%;
  align-items: end;
}
.optionFilters {
  font-size: 14px;
  color: #8c8b93;
}
.itemDetailsTitle h4 {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.itemDetailsDesc h6 {
  display: none;
  grid-row: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.itemDetailsFooter {
  display: grid;
  grid-template: 100% / 60% 40%;
  justify-content: space-between;
}

.detailsFooterTarget {
  display: flex;
  align-items: center;
}
.footerTargetPrincipal {
  margin-right: 16px;
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  & span {
    font-size: 14px;
    padding: 6px 8px;
  }
  & .Target {
    margin: 0;
  }
  & .Target-span {
    height: inherit;
  }
}
.detailsFooterLocation {
  grid-column: 2;
  justify-self: end;
  color: #8c8b93;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.targetMore {
  color: #1a1928;
}

.seeMoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.seeMore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  border: 1px solid $blue;
  border-radius: 2px;
  cursor: pointer;
  fill: $blue;
  color: $blue;
  padding: 0 16px;
  transition: 150ms ease-in-out;
  display: -webkit-box;
  -webkit-box-orient: horizontal;

  &:hover {
    background-color: $blue;
    color: #f5f5f5;
    fill: #f5f5f5;
  }

  & svg {
    margin-left: 8px;
    fill: inherit;
    width: 15px;
  }
}

.seeMoreText {
  display: flex;
  -webkit-box-flex: 1;
  justify-content: center;
  align-items: center;
  padding: 6px 0px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: inherit;
}

.noOrganization {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.noOrganizationBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.noOrganizationBtn {
  width: auto;
  cursor: pointer;
  max-width: 400px;
  box-shadow: 0px 8px 8px rgba(35, 126, 213, 0.15);
  border-radius: 2px;
  background-color: $blue;
  padding: 12px 24px;
  & span {
    color: white;
    font-weight: 800;
    font-size: 18px;
  }
}

// Responsive

@media (max-width: 799px) {
  .listModal {
    padding: 12px 24px;
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
    bottom: 40px;
    border: 1px solid #cccccc;
    background: white;
    overflow: auto;
    border-radius: 4px;
    outline: none;
  }

  .modalClose {
    position: absolute;
    z-index: 21;
    right: 20px;
  }
}

// XXS
@media (min-width: 320px) {
  .ongListContent {
    margin-top: 24px;
  }
  .banner {
    padding: 0 24px;
  }
  .ongListSearch {
    display: none !important;
  }
  .ongListResult {
    margin: 0;
  }
  .resultItem {
    height: $resultItemIMG-xs;
    grid-template-columns: $resultItemIMG-xs auto;
  }
  .resultItemImg {
    min-width: $resultItemIMG-xs;
    max-width: $resultItemIMG-xs;
    background-size: $resultItemIMG-xs;
    width: $resultItemIMG-xs;
    height: $resultItemIMG-xs;
  }
  .itemDetailsDesc {
    display: none;
  }
  .itemDetailsFooter {
    grid-row: 2/ 4;
    grid-template: 50% 50% / 100%;
  }
  .detailsFooterTarget {
    grid-row: 2;
    grid-column: 1;
  }
  .detailsFooterLocation {
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
  }
  .ongListModal {
    & > * {
      display: block !important;
    }
  }
  .ongListModalLogo {
    margin-bottom: 60px;
    & img {
      width: 120px;
    }
  }
  .ongListSearch {
    width: 100%;
    max-width: 100%;
  }
  .quantityBtn {
    padding: 10px 63px;
  }
  .organizationGrid {
    display: grid;
    column-gap: 24px;
    row-gap: 24px;
  }
}

@media (min-width: 424px) {
  .quantityBtn {
    padding: 10px 98px;
  }
}

// S
@media (min-width: 800px) {
  .ongListContent {
    margin-top: 48px;
  }
  .ongListSearch {
    width: 257px;
    max-width: 257px;
    display: block !important;
  }
  .ongListResult {
    margin-left: 36px;
  }
  .ongListResultQuantity {
    justify-content: flex-end;
  }
  .quantityBtn {
    display: none;
  }
}

// M
@media (min-width: 1028px) {
  .banner {
    background: linear-gradient(
        0deg,
        rgba(26, 25, 40, 0.6),
        rgba(26, 25, 40, 0.6)
      ),
      url('/organizations/hero_xl.jpg');
  }
  .organizationGrid {
    grid-template-columns: repeat(2, minmax(308px, 376px));
  }
  .ongListSearch {
    width: 300px;
    max-width: 300px;
  }
  .ongListResult {
    margin-left: 40px;
  }
  .resultItem {
    height: $resultItemIMG-xl;
    grid-template-columns: $resultItemIMG-xl auto;
  }
  .resultItemImg {
    width: $resultItemIMG-xl;
    height: $resultItemIMG-xl;
    min-width: $resultItemIMG-xl;
    max-width: $resultItemIMG-xl;
    background-size: $resultItemIMG-xl;
  }
  .itemDetailsDesc {
    display: block;
  }
  .itemDetailsFooter {
    //grid-row: 3;
    grid-template: 100% / 60% 40%;
  }
  .detailsFooterTarget {
    grid-row: 1;
    grid-column: 1;
  }
  .detailsFooterLocation {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
  }
}
// XL
@media (min-width: 1224px) {
  .organizationGrid {
    grid-template-columns: repeat(2, minmax(364px, 392px));
  }
  .ongLis .banner {
    background: linear-gradient(
        0deg,
        rgba(26, 25, 40, 0.6),
        rgba(26, 25, 40, 0.6)
      ),
      url('/organizations/hero_xxl.jpg');
  }
  .ongListSearch {
    width: 392px;
    max-width: 392px;
  }
  .ongListResult {
    margin-left: 48px;
  }
  .noOrganization {
    margin: 120px 0;
  }
}
