/* @import '../../styles/lib/variables.scss';

// XXS
@media (min-width: 320px) {
  .children {
    padding: $padding-xxs;
  }
}
// XS
@media (min-width: 424px) {
  .children {
    padding: $padding-xs;
  }
}
// S
@media (min-width: 800px) {
  .children {
    padding: $padding-s;
  }
}
// M
@media (min-width: 1028px) {
  .children {
    padding: $padding-m;
  }
}
// L
@media (min-width: 1224px) {
  .children {
    margin: 0 auto;
    max-width: 1224px;
    padding: $padding-l;
  }
}
 */
