@import './lib/variables.scss';
@import './layout/layout.scss';

.ongProfile {
  background-color: $bgwhite;
}

.ongProfile h4 {
  font-size: 18px !important;
  color: #1a1928 !important;
  font-weight: bold;
}

.ongProfileContent {
  padding: $layout-xl;
  height: auto;
  background: none;
  display: flex;
  flex-direction: row;
}

.ongProfileHero {
  width: 100%;
  margin-bottom: 84px;
}

.ongProfileUserImgBreadcrumb {
  position: absolute;
  top: 176px;
  display: flex;
  max-width: 784px;
}

.ongProfileUserImg {
  background: white;
  min-width: 172px;
  max-width: 172px;
  background-size: 172px;
  background-repeat: no-repeat;
  background-position: center;
  width: 172px;
  height: 172px;
  left: $layout-xl;
  top: 176px;
  border-radius: 28.6667px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.14);
  z-index: 1;
}

.ongProfileUserBreadcrumb {
  position: relative;
  left: 24px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ongProfileUserInfo {
  padding-top: 96px;
}

.ongProfileInfoTitle {
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 1.5em;
}

.ongProfileInfoDescription {
  padding-bottom: 12px;
  font-weight: 400 !important;
  font-size: 1.1em;
  margin-bottom: 0;
}

.ongProfileUserHowUseDonation {
  margin-top: 24px;

  & h3 {
    margin-bottom: 12px;
    font-size: 14px !important;
  }
}

.ongProfileUserSponsors {
  margin-top: 84px;
}

.OngProfile__objective--Title,
.ongProfileHowUseDonationTitle,
.ongProfileSponsorsTitle,
.ongProfileContactTitle,
.ongProfileAddressTitle {
  font-size: 1em;
  font-weight: 600;
}

.ongProfileObjectiveDescription,
.ongProfileHowUseDonationDescription {
  font-size: 1em;
  font-weight: 400;
}

.ongProfileUserSponsors,
.ongProfileHowToDonateContact,
.ongProfileUserAddress,
.ResponsiveInfo__Active {
  width: 100%;
}

.ongProfileSponsorsContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ongProfileContainerImg {
  margin-right: 16px;
  margin-bottom: 16px;
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 16px rgba(35, 126, 213, 0.1);
  border-radius: 8px;
  background-color: #fff;
  display: flex;
}

.ongProfileContainerImg img {
  /* object-fit: cover; */
  object-fit: contain;
  width: 80px;
  height: 80px;
}

.ongProfileAddressInfo {
  display: flex;
  align-items: center;
}

.ongProfileInfoIcon {
  font-size: 30px;
  color: $blue;
  margin-right: 10px;
}

.ongProfileFixedHowToDonate {
  position: fixed;
  bottom: 3vh;
  display: none;
  width: 85%;
  justify-content: flex-end;
  margin: 0 $layout-xs;
  color: $blue;
  & div {
    display: flex;
  }
}

.ongProfileFixedHowToDonateButton {
  width: 216px;
  height: 50px;
  margin-right: 24px;
  background-color: $blue;
  border-color: $blue;
  display: none;

  & span {
    font-size: 18px;
    font-weight: 800;
  }
}

.ongProfileFixedHowToDonateMessageButton {
  display: none;
  width: 60px;
  height: 62px;
  border-radius: 40px;
  background-color: $blue;
  border-color: $blue;
}

.OngProfile__Divider {
  height: auto;
}

.ongProfileHowToDonate {
  background-color: $bgwhite;
  max-width: 392px !important;
  width: 392px !important;
  flex: 0 0 auto !important;
}

.ongProfileHowToDonate > div > div {
  padding-top: 40px;
}

.ongProfileHowToDonateContact {
  display: block;
}

.OngProfile__Title--Divider {
  margin: 10px 0;
}

.ongProfileUserModal {
  display: none;
}

.ongProfileDonateDonateWay {
  padding-top: 36px;
}

.ongProfileHowToDonateDonateProduct {
  padding-top: 36px;
}

.ongProfileHowToDonateContact {
  & h4 {
    margin: 0;
  }
}

.ongProfileContactTitle {
  padding-top: 36px;
}

.OngProfile__Contact--Info {
  & strong {
    font-weight: bold;
    font-size: 14px;
  }

  & span {
    color: $blue;
    font-size: 18px;
    font-weight: bold;
  }

  & div {
    padding-bottom: 12px;
  }
}

.ongProfileInfoTel {
  & > span {
    color: $black;
    font-weight: 400;
  }
}

.ongProfileSocial {
  margin-top: 24px;
  width: 100%;

  & h4 {
    margin: 0 !important;
  }
}

.ongProfileSocial--Networks {
  color: $blue;

  & img {
    width: 50px;
    margin-right: 24px;
  }
}

.ongProfileUserAddress {
  margin-top: 36px;

  & h4 {
    margin: 0 !important;
  }
}

.h4 {
  font-size: 18px !important;
  color: #1a1928 !important;
  font-weight: bold;
}

.span {
  font-size: 18px !important;
}

// map

.map {
  margin-top: 64px;
  height: 228px;
  width: 100%;
}

.mapInfo {
  display: flex;
  align-items: center;
}

.marker {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.markerFill {
  width: 34px;
  height: 34px;
  background: #e5384c;
  opacity: 0.2;
  border-radius: 20px;
}

.markerFillFill {
  width: 14px;
  height: 14px;
  background: #e5384c;
  border-radius: 20px;
  position: absolute;
}

// Modal
@media (max-width: 799px) {
  .ongProfileModal {
    padding: 12px 24px;
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
  }

  .modalClose {
    position: absolute;
    z-index: 21;
    right: 20px;
  }

  .ongProfileUserModal {
    display: flex;
    align-items: center;

    & svg {
      stroke: $black;
      position: absolute;
      top: 24px;
      right: 24px;
    }
  }

  .ongProfileUserModalImg {
    margin-right: 16px;
    background-color: $bgwhite;
    min-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.14);
    z-index: 1;
  }

  .ongProfileUserModalImg > img {
    width: inherit;
    border-radius: 10px;
  }

  .ongProfileHowToDonateTitle {
    font-weight: 600;
    font-size: 21px;
    margin: 48px 0;

    & h3 {
      margin: 0;
    }
  }

  .ongProfileUserModalTitle {
    font-weight: bold;
    font-size: 16px;
  }

  .howToDonateBank {
    margin-top: 48px;
  }

  .OngProfile__UserModal--DonationProduct {
    margin-top: 54px;
  }

  .OngProfile__UserModal--DonationPlace {
    padding-top: 12px;
  }

  .OngProfile__User--Contact,
  .ongProfileUserAddress {
    display: block;
  }

  .ongProfileFixedHowToDonate {
    display: flex;
  }

  .ongProfileFixedHowToDonateButton,
  .ongProfileFixedHowToDonateMessageButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Responsive
// UltraResponsive XXS(?
@media (min-width: 320px) {
  .ongProfileContent {
    padding: 0 $layout-xs;
  }

  .map {
    height: 168px !important;
  }

  .ongProfileUserImgBreadcrumb {
    left: $layout-xs;
    top: 168px;
    max-width: $breadcrumb-xxs;
  }

  .ongProfileUserImg {
    width: 120px;
    height: 120px;
    min-width: 120px;
    max-width: 120px;
    background-size: 120px;
  }

  .ongProfileUserBreadcrumb {
    top: 72px;
    left: 16px;
  }

  .OngProfile__Target {
    margin-top: 28px;
    margin-bottom: 40px;
  }

  .ongProfileUserHowUseDonation {
    margin-top: 48px;
  }

  .ongProfileHowToDonate {
    display: none;
  }

  .ongProfileContactTitle {
    padding-top: 48px;
  }

  .ongProfileSocial {
    margin-top: 36px;
  }

  .ongProfileUserAddress {
    margin-top: 48px;
  }

  .ongProfileHowToDonate {
    width: 376px !important;
  }

  .ongProfileDonateDonateWay {
    padding-top: 48px;
  }

  .ongProfileHowToDonateDonateProduct {
    padding-top: 48px;
  }

  .ongProfileFixedHowToDonate {
    margin: 0;
  }

  .ongProfileFixedHowToDonateButton {
    width: 200px;
    margin-right: 8px;
  }

  .ongProfileFixedHowToDonateMessageButton {
    width: 50px;
    height: 50px;
  }

  .address {
    display: none;
  }
}

// XS
@media (min-width: 424px) {
  .ongProfileUserImgBreadcrumb {
    max-width: $breadcrumb-xs;
  }

  .ongProfileUserBreadcrumb {
    top: 72px;
    left: 16px;
  }

  .ongProfileFixedHowToDonate {
    margin: 0 $layout-xs;
  }

  .ongProfileFixedHowToDonateButton {
    width: 216px;
    margin-right: 24px;
  }

  .ongProfileFixedHowToDonateMessageButton {
    width: 60px;
    height: 60px;
  }
}

// XS Portrait
@media (min-width: 796px) {
  .ongProfileContent {
    padding: 0 $layout-xs-p;
  }

  .ongProfileUserImgBreadcrumb {
    max-width: $breadcrumb-xs-p;
  }

  .ongProfileContactTitle {
    padding-top: 36px;
  }

  .ongProfileSocial {
    margin-top: 24px;
  }

  .ongProfileUserAddress {
    margin-top: 36px;
  }

  .ongProfileDonateDonateWay {
    padding-top: 36px;
  }

  .ongProfileHowToDonateDonateProduct {
    padding-top: 36px;
  }
}

// S
@media (min-width: 800px) {
  .ongProfileContent {
    padding: 0 $layout-s;
  }

  .map {
    height: 228px !important;
  }

  .ongProfileHero {
    margin-right: $hero-s-mr;
  }

  .ongProfileUserImgBreadcrumb {
    left: $layout-s;
    top: 176px;
    max-width: $breadcrumb-s;
  }

  .ongProfileUserImg {
    width: 172px;
    height: 172px;
    min-width: 172px;
    max-width: 172px;
    background-size: 172px;
  }

  .ongProfileUserBreadcrumb {
    top: 156px;
    left: 24px;
  }

  .OngProfile__Target {
    margin-top: 16px;
    margin-bottom: 28px;
  }

  .ongProfileUserHowUseDonation {
    margin-top: 24px;
  }

  .ongProfileUserSponsors {
    margin-top: 72px;
  }

  .ongProfileHowToDonate {
    display: block;
  }

  .ongProfileHowToDonate {
    width: 266px !important;
  }

  // map
  .address {
    display: block;
    width: 236px;
    height: auto;
    background-color: $bgwhite;
    border-radius: 9px;
    position: absolute;
    margin-left: 45px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }

  .textContainer {
    font-size: 14px;
    padding: 12px 16px;
    color: #1a1928;
  }


  .textContainerCountry {
    padding-top: 12px;
    font-weight: bold;
  }

  // Modal 
  .ongProfileModal{
    display: none;
  }
}

// S Portrait
@media (min-width: 1016px) {
  .ongProfileContent {
    padding: 0 $layout-s-p;
  }

  .ongProfileUserImgBreadcrumb {
    max-width: $breadcrumb-s-p;
  }

  .ongProfileHowToDonate {
    width: 347px !important;
  }
}

// M
@media (min-width: 1028px) {
  .ongProfileContent {
    padding: 0 $layout-m;
  }

  .ongProfileHero {
    margin-right: $hero-m-mr;
  }

  .ongProfileUserImgBreadcrumb {
    left: $layout-m;
    max-width: $breadcrumb-m;
  }

  .ongProfileUserSponsors {
    margin-top: 84px;
  }

  .ongProfileHowToDonate {
    width: 300px !important;
  }
}

// XL
@media (min-width: 1224px) {
  .ongProfileContent {
    padding: 0 $layout-xl;
  }

  .ongProfileHero {
    width: $hero-xl;
  }

  .ongProfileUserImgBreadcrumb {
    left: auto;
    max-width: $breadcrumb-xl;
  }

  .OngProfile__Target {
    margin-top: 22px;
  }

  .ongProfileHowToDonate {
    width: 392px !important;
  }
}
