@import './styles/vars.module.scss';
.support {
  display: grid;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(
    95.96deg,
    rgba(57, 57, 142, 0.9) 37.64%,
    rgba(54, 110, 255, 0.9) 84.95%
  );
  backdrop-filter: blur(30px);
  overflow: hidden;
  .content {
    max-width: 1440px;
    display: flex;
    column-gap: 124px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: $space-row-s;
    overflow: hidden;
    .text {
      display: flex;
      z-index: 2;
      flex-direction: column;
      row-gap: $space-row-s;
      h1 {
        color: $monocromatic-white;
      }
    }
    .img {
      position: absolute;
      right: 0;
      svg {
        width: 324px;
        height: 324px;
      }
    }
  }
}
@media (min-width: 320px) {
  .support {
    padding: $space-row-xxl $padding-xs;
    .content {
      .img {
        right: -100px;
        opacity: 0.6;
      }
    }
  }
}
@media (min-width: 800px) {
  .support {
    padding: $space-row-xxl $padding-m;
  }
}
@media (min-width: 1024px) {
  .support {
    place-items: center;
    padding: $space-row-xxl $padding-m;
    .content{
      .img{
        position: relative;
        right: 0;
        opacity: 1;
      }
    }
  }
}
