@import './vars.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito');
*{
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', serif;
  margin: 0;
  color: $monocromatic-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a1928;
  margin: 0;
  font-weight: bold;
}
h1 {
  font-size: 36px;
  line-height: 48px;
}
h2 {
  font-size: 28px;
  line-height: 36px;

}

h3 {
  font-size: 24px;
  line-height: 32px;
}
h4 {
  font-size: 18px;
  line-height: 24px;
}
h5{
  font-size: 16px;
  line-height: 22px;
}
h6 {
  font-size: 14px;
  line-height: 18px;
}
p {
  margin: 0;
  padding: 0;
}

a {
  color: $ui-action;
  text-decoration: none;
  &:hover {
    color: $ui-action;
  }
}
button {
  background: none;
  border: none;
  outline: none;
  span {
    font-family: 'Nunito', serif;
  }
}
textarea {
  font-family: 'Nunito', serif;
}
.ReactModalPortal {
  display: none;
}
@media (min-width: 320px) {
  h1{
    font-size: 28px;
    line-height: 36px;
  }
  h2{
    font-size: 26px;
    line-height: 32px;
  }
}
@media (min-width: 424px) {
  h1{
    font-size: 36px;
    line-height: 48px;
  }
  h2{
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 800px) {
  .ReactModalPortal {
    position: absolute;
    z-index: 99;
    display: block;
  }
}

// Loader

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// BetaContainer

.beta {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: auto;
  z-index: 99;
  display: flex;
  background-color: #ffcf53;
}
.beta.betaClose {
  transition: ease-out 300ms;
  opacity: 0;
}
.betaContainer {
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.betaText {
  text-align: center;
  font-size: 16px;
}
.betaBtn {
  padding-left: 15px;
  & svg {
    width: 20px;
    height: 20px;
    & line {
      stroke: #1a1928;
    }
    &:hover {
      cursor: pointer;
      transition: 300ms;
      color: white;
      stroke: #1a1928;
    }
  }
}
